@import url("https://fonts.googleapis.com/css?family=Poppins:wght@400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url("Login1.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

.wrapper {
  width: 420px;
  background-color: transparent;
  color: white;
  border: 2px solid rgba(255, 255, 255, 02);
  border-radius: 40px;
  padding: 40px, 40px;
}

.wrapper h1 {
  font-size: 36px;
  text-align: center;
  color: black;
}

.wrapper .inputbox {
  width: 100%;
  height: 50%;
  background-color: transparent;
  margin: 30px 0;
}

.inputbox input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid black;
  border-radius: 60px;
  font-size: 16px;
  color: black;
  padding: 20px 45px 20px 20px;
}

.inputbox::input-placeholder {
  color: red;
}

.wrapper .inputbox i {
  position: relative;
  right: 40px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}

.wrapper .remember-forgot {
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: -15px 0 15px;
  margin-left: 15px;
  margin-right: 15px;
}
.remember-forgot label input {
  accent-color: #fff;
  margin-right: 10px;
}
.remember-forgot a {
  color: white;
  text-decoration: none;
}

.remember-forgot a:hover {
  text-decoration: underline;
}

.wrapper .btn {
  width: 100px;
  height: 45px;
  margin-left: 39.5%;
  background-color: white;
  border: 2px;
  outline: 3px;
  border-radius: 40px;
  font-size: 16px;
  color: #333;
  font-weight: 600;
  transition: background-color 0.2s; /* Adding transition for smooth hover effect */
}

.wrapper .btn:hover {
  background-color: lightgray; /* Change to your desired background color */
  color: #891652;
}

.wrapper .register-link {
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
}

.register-link p a {
  color: white;
  text-decoration: unset;
  font-weight: 40px;
}

.register-link p a:hover {
  text-decoration: underline;
}
